body {
  height: 100vh;
  width: 100%;
}

/* Header Start */
#my-nav {
  background-color: steelblue;
  border-radius: 0;
  border: none;
  width: 100%;
}
.navbar button.navbar-toggle, .navbar .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  margin-top: 23px;
}
.navbar-brand {
  height: auto;
}
.navbar-brand a {
  text-decoration: none;
}
.navbar-brand h1 {
  color: black;
  font-family: American Typewriter, serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
.navbar-brand h1:hover {
  color: white;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list li {
  background: white;
  border: 2px solid black;
}
#nav-list li:hover {
  background: steelblue;
}
#nav-list li:nth-child(1), #nav-list li:nth-child(2) {
  border-bottom: none;
}
#nav-list a {
  color: black;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
#nav-list a:hover {
  color: white;
}
/* Header End */

/* Main Content Start */
#our-menu {
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0 50px;
}
.box {
  position: inherit;
  background-color: darkslategray;
  margin-bottom: 20px;
  padding: 3% 3% 1% 3%;
}
.box * {
  color: white;
  font-family: American Typewriter, serif;
  font-weight: bold;
}
.box > h2 {
  margin-top: -10px;
  font-size: 35px;
}
.box .text {
  font-size: 15px;
}
/* Main Content End */